body {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#quiz {
	font-size: 35px;
	margin: 15px;
}

li {
	list-style: none;
	margin: 10px;
	width: 500px;
}

.answer-button {
	background-color: lightblue;
	width: 100%;
	border-radius: 5px;
}

#Button-list {
	display: flex;
	flex-direction: column;
}

#rules {
	font-size: large;
	margin: 30px;
}

#submitScore {
	display: none;
}

#scoring {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
